
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao1:before { content: "\e727"; }

.icon-biaoxingfill:before { content: "\e732"; }

.icon-biaoxing:before { content: "\e733"; }

.icon-liuyanfill:before { content: "\e743"; }

.icon-liuyan:before { content: "\e744"; }

.icon-shouyefill:before { content: "\e750"; }

.icon-shouye:before { content: "\e751"; }

.icon-wodefill:before { content: "\e75d"; }

.icon-wode:before { content: "\e75e"; }

.icon-xiangzuo1:before { content: "\e779"; }

.icon-yonghufill:before { content: "\e787"; }

.icon-yonghu:before { content: "\e788"; }

.icon-zantongfill:before { content: "\e793"; }

.icon-zantong:before { content: "\e794"; }

