body,h1,h2,h3,ul{padding: 0;margin: 0;list-style: none;}
a{color:#000;text-decoration: none;}
a:visited{color:#000}

.icon-add:active{
	opacity: 0.5;
}
.icon-add {
	background-color: #f29f3f;
	padding: 6px 12px;
	color: #fff
}
.iconfont{
	font-size: 24px !important;
}
.icon-fill{
	color: #0af;
}
.nextBtn:active {
	opacity: 0.5;
}


#loading{
	background-color: transparent;
	height: 100%;
	width: 100%;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 10px;
	width: 70px;
	margin-top: -5px;
	margin-left: -35px;
}
.object{
	width: 10px;
	height: 10px;
	background-color: #ddd;
	float: left;
	margin-right: 20px;
	margin-top: 0px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

#object_one {	
	-webkit-animation: object_one 1.5s infinite;
	animation: object_one 1.5s infinite;
}
#object_two {
	-webkit-animation: object_two 1.5s infinite;
	animation: object_two 1.5s infinite;
	-webkit-animation-delay: 0.25s; 
    animation-delay: 0.25s;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
	animation: object_three 1.5s infinite;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	margin-right: 0;
	
}


@-webkit-keyframes object_one {
75% { -webkit-transform: scale(0); }
}

@keyframes object_one {

  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }

}





@-webkit-keyframes object_two {
 

  75% { -webkit-transform: scale(0); }


}

@keyframes object_two {
  75% { 
    transform: scale(0);
    -webkit-transform:  scale(0);
  }

}

@-webkit-keyframes object_three {

  75% { -webkit-transform: scale(0); }

}

@keyframes object_three {

  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  
}

