.box-bottom{
	position:absolute;
	width:300px;
	top:200px;
	h3,h4{
		color:#fff;
		position:relative
	}
	h3{
		text-align:center;
		left:-3px;
		margin-top: 5px;
	}
	.box-bottom-date{
		margin-top: 20px;
	}
	.sub-box{
		font-size: 13px;
		top:15px;
		left: 45px;
		line-height:25px;
		display: inline-block;
		margin-right: 22px;
		font-weight: normal
	}
}